html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

/*Latihan 1*/
.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.sidebar-satu {
    width: 25%;
}

.kolom-utama {
    width: 60%;
}

.sidebar-dua {
    width: 20%;
}

.sidebar-satu ul {
    list-style-type: disc;
    padding-left: 20px;
}

.sidebar-satu a {
    text-decoration: none;
    color: purple;
}

h2, h3 {
    margin-top: 0;
}